#root {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

:root {
  --padding: 20px;
  --sidebar-width: 350px;
  --sidebar-height: 50%;
  --border-color: #ddd;
  --header-height: 60px;
  --footer-height: 85px;
  --box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  --base-color: rgb(8, 24, 50);
  --dark-grey: #9ea1a4;
  --light-grey: #f4f5f5;
}

h1 {
  color: var(--base-color);
}

p {
  font-size: 18px;
}

/* Loading */

.loader {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 999;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* General */

.main {}

.main .content {
  max-width: 700px;
  margin: auto;
  width: 100%;
  padding: var(--padding);
  margin-top: 20px;
  box-sizing: border-box;
  margin-bottom: var(--footer-height);
}

.main .header {
  padding: var(--padding);
  height: var(--header-height);
  box-sizing: border-box;
  z-index: 9999;
  position: relative;
}

.main .header .icon {
  display: inline-block;
}

.main .header .icon img {
  height: 20px;
}

.main .header .links {
  position: absolute;
  top: 10px;
  right: var(--padding);
}

.main .header .links .about {
  cursor: pointer;
  padding: 10px 10px;
  background-color: var(--light-grey);
  color: var(--dark-grey);
  border-radius: 42px;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.main .header .links .about:hover {
  color: var(--base-color)
}

.main .header .links .home {
  cursor: pointer;
  padding: 10px 10px;
  background-color: var(--light-grey);
  color: var(--dark-grey);
  border-radius: 42px;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-right: 15px;
}

.main .header .links .home img {
  opacity: 0.3;
}

.main .header .links .home:hover img {
  opacity: 1;
}

.main .header .search {
  width: 400px;
  display: inline-block;
}


.main .footer {
  position: fixed;
  z-index: 999999;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: var(--padding);
  text-align: center;
  background-color: white;
}

.main .footer img {
  height: 20px;
  margin-right: 60px;
}

/* Home */

.main .map {
  width: calc(100% - var(--padding)* 2);
  height: calc(100% - var(--header-height) - var(--footer-height));
  display: inline-block;
  position: fixed;
  margin: 0 var(--padding);
  box-sizing: border-box;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid var(--border-color);
}

.main .map .leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 1px solid var(--border-color) !important;
  box-shadow: var(--box-shadow) !important;
}

.main .map .leaflet-tile-pane {
  filter: grayscale(75%);
}

.main .map .tagline {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  padding: calc(var(--padding) / 2);
  max-width: 300px;
  font-size: 18px;
  background-color: #ffffffed;
  border-radius: 0 0 12px 0;
  box-shadow: var(--box-shadow);
  color: var(--base-color);
}

.main .sidebar {
  display: none;
  position: absolute;
  right: 54px;
  top: 10px;
  width: var(--sidebar-width);
  padding: 20px;
  box-sizing: border-box;
  vertical-align: top;
  background-color: white;
  z-index: 999999;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--border-color);
  max-height: calc(100% - 40px);
}

.main .sidebar.open {
  display: block;
}

.main .sidebar .sidebar-inner .title {
  font-size: 24px;
  font-weight: 600;
  color: var(--base-color);
  padding: 6px 0;
}

.main .sidebar .sidebar-inner .properties {
  margin: 20px 0 40px 0;

}

.main .sidebar .sidebar-inner .properties .property {
  font-size: 18px;
  padding: 4px 0;
  display: block;
}

.main .sidebar .sidebar-inner .contact {
  font-size: 18px;
  margin-top: 30px;
}

.main .sidebar .sidebar-inner .close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px 10px;
  background-color: var(--light-grey);
  color: var(--dark-grey);
  border-radius: 42px;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  width: 20px;
  text-align: center;
}

.main .sidebar .sidebar-inner .close:hover {
  color: var(--base-color);
}

.main .sidebar .buttons {
  width: 100%;
  margin: 15px 0px;
}

.main .sidebar .buttons .station {
  border: 1px solid var(--base-color);
  background-color: var(--base-color);
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  text-decoration: none;
  margin-right: 12px;
  transition: all .2s ease;
}

.main .sidebar .buttons .station:hover {
  background-color: white;
  color: var(--base-color);
}

.main .sidebar .buttons .download {
  border: 1px solid var(--base-color);
  border-radius: 30px;
  color: var(--base-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 9px 11px;
  text-decoration: none;
  transition: all .2s ease;
}

.main .sidebar .buttons .download img {
  height: 14px;
}

.main .sidebar .buttons .download:hover {
  background-color: var(--base-color);
}

.main .sidebar .buttons .download:hover img {
  filter: invert(100%);
}

/* About */

.main .content .authors {
  font-weight: 600;
  margin: var(--padding) 0;
  font-size: 18px;
}

.main .content .developer {
  font-size: 14px;
}

/* Station */

.main .content .horizontal-navigation {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: var(--padding);
}

.main .content .horizontal-navigation .nav-item {
  display: inline-block;
  font-size: 18px;
  padding: 12px 18px;
  color: var(--dark-grey);
  border-bottom: 2px solid transparent;
  margin-bottom: -1px;
  cursor: pointer;
}

.main .content .horizontal-navigation .nav-item:hover {
  color: var(--base-color);
}

.main .content .horizontal-navigation .nav-item.active {
  color: var(--base-color);
  border-bottom: 2px solid var(--base-color);
}

.main .content .content-inner .item {
  display: inline-block;
  padding: 8px 0;
}

.main .content .content-inner .item .item-key {
  display: inline-block;
  width: 160px;
  font-weight: 600;
  padding-right: 8px;
  box-sizing: border-box;
  vertical-align: top;
}

.main .content .content-inner .item .item-value {
  display: inline-block;
  width: 160px;
  padding-right: 8px;
  box-sizing: border-box;
  vertical-align: top;
  word-break: break-word;
}

.main .content .content-inner .item.wide .item-value {
  width: calc(100% - 160px);
}

.main .content .content-inner .download-buttons a {
  display: inline-block;
  border: 1px solid var(--base-color);
  cursor: pointer;
  margin-right: 20px;
  padding: 12px;
  text-decoration: none;
  color: var(--base-color);
  border-radius: 12px;
  margin-bottom: 20px;
}

.main .content .content-inner .download-buttons {
  margin: 30px 0 10px 0;
}

.main .content .content-inner .download-buttons a:hover {
  background-color: var(--base-color);
  color: white;
}

@media screen and (max-width: 800px) {
  :root {
    --footer-height: 60px;
  }

  .main .map .tagline {
    display: none;
  }

  .main .map {
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: none;
  }

  .main .map .leaflet-control-zoom {
    display: none;
  }

  .main .sidebar {
    top: unset;
    bottom: calc(var(--padding) / 2);
    width: calc(100% - var(--padding));
    right: calc(var(--padding) / 2);
    background-color: #ffffffeb;
  }

  .main .content {
    margin-top: 0;
    padding-top: 0;
  }

  .main .footer {
    width: 100%;
    border-radius: 0;
    padding: 8px 0 8px 0;
  }

  .main .footer img {
    height: auto !important;
    width: 25%;
    margin: 0 4%;
  }

  .main .content .horizontal-navigation {
    border: none;
    margin-bottom: 10px;
  }

  .main .content .horizontal-navigation .nav-item {
    padding: 4px;
    width: 122px;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 22px;
  }
}